<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Spring Boot App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <br><br><br><br><br><br><br><br><br><br><br><br>
        <div align="center">
            <h1>Primera aplicación de Spring Boot</h1>
            <br>
            <h3>Información del estudiante:</h3>
            <p>Nombre: Jesús Guillermo Jiménez Delgado</p>
            <p>Matrícula: 2880289</p>
            <p>Escuela: Universidad Tecmilenio</p>
            <p>Carrera: Ingeniería en Desarrollo de Software</p>
            <p>Clase: Computación Avanzada en Java</p>
            <p>Profesor: José Alfredo Jiménez Hernández</p>
        </div>
    </body>
</html>



